body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: #032d36;
    border: 1px solid #36a0b5;
    background-color: #36a0b5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px #69691d;
    font-style: bold;
    font-family: "dosis", fantasy;
}